.vscode
gradle/build.gradle
conf/demo/
.idea/

demo/
assets/

# Ignore binary files
*.exe
*.dll
*.so
*.dylib

*.log

# Ignore backup and temporary files
*~
*.swp
*.swo

# Ignore build and log directories
build/
logs/
